#SERVER
APP_ENV=local
PORT=3000

#DATABASE
MONGODB_URI=

#SECURITY
JWT_SECRET=change_me_development_secret
REFRESH_TOKEN_SECRET=change_me_development_refresh_secret
FRONTEND_ORIGIN=

#LOGGING
LOG_LEVEL=debug

#DOCS
ENABLE_SWAGGER=true
